<center>
<h1>In Memory of Vishnoo Paupiah</h1>
<br>
<p><%= image_tag("vishnoo22.jpeg", class: "img-rounded") %></p>
<br>
<h2>7th February 1951 - 26th December 2013</h2>
<h3>Beloved Father, Brother, Uncle & Friend </h3>

