<h1>Edit Tribute</h1>
<div class="row">
  <div class="span4">
    <p>Guidelines for editing tributes:</p>
    <ul>
      <li>Edit the title.</li>
      <li>Edit your tribute.</li>
      <li>Upload an image.</li>
      <li>Submit your tribute.</li>
    </ul>
  </div>
  <div class="span8">
    <%= render partial: 'form', locals: { post: @post } %>
  </div>
</div>
