<div class="container">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-9">
    </div>
  </div>
</div>


<h1>All Posts</h1>
  <% if can? :create, Post %>
    <%= link_to "New Post", new_post_path, class: 'btn btn-primary btn-mini' %>
  <% end %>
    <div class="container">
      <div class="row col-sm-12">
        <% @posts.each do |post| %>
          <div class="col-sm-3 img-thumbnail">
            <div>
              <p><%= image_tag(post.image_url, class: "img-rounded") %></p>
              <h4><strong><%= post.title %></strong></h4>
              <br>
            </div>
          </div>
          <% end %>
        </div>
        <br>
      </div>

