


<h1>All Tributes</h1>
  <% if can? :create, Post %>
    <%= link_to "New Tribute", new_post_path, class: 'btn btn-large' %>
    <br>
  <% end %>
    <div class="container">
      <div class="row">
        <br>
        <% @posts.each do |post| %>
          <div class="span3">
            <div>
              <p><%= image_tag(post.image_url, class: "img-rounded") %></p>
              <h4><strong><%= link_to post.title, post_path(post) %></strong></h4>
              <br>
            </div>
          </div>
          <% end %>
          <br>
        </div>
        <br>
      </div>

