<h1>New Tribute</h1>

<div class="row">
  <div class="span4">
    <p>Guidelines for new posts:</p>
    <ul>
      <li>Choose a title.</li>
      <li>Write your tribute.</li>
      <li>Upload an image.</li>
      <li>Submit your tribute.</li>
    </ul>
  </div>
  <div class="span8">
    <%= render partial: 'form', locals: { post: @post } %>
  </div>
</div>
